/* style.css */
body {
  font-family: Arial, sans-serif;
  background: #f9f5ec;
}

#navbar {
  display: flex;
  flex-direction: column;
}

.nav-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.nav-btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #e0e0e0;
}

.content {
  padding: 1.2em;
}
